.. include:: readme.md
   :parser: myst_parser.sphinx_


Contents
-------------------

.. toctree::
    :maxdepth: 3

    getting_started/index

.. toctree::
    :maxdepth: 3

    overview/index

.. toctree::
    :maxdepth: 3

    model_zoo/index

{{gallery_toctree}}

.. toctree::
    :maxdepth: 3

    autoapi/index
